@import "tailwindcss";

@theme {
    --color-primary: #5E2BFF;
    --color-secondary: #024533;
    --color-tertiary: #FFFD99;
    --color-black1: #080808;
    --color-white1: #F7F9F5;
    --color-card: #F3F0EA;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Manrope', sans-serif;
}

* {
    font-family: 'Inter', sans-serif;
}